{% extends 'base.html.twig' %}

{# {% block title %}{% endblock %} #}

{% block body %}
    <div id="app">
        <table class="table">
            <tbody>
                <template v-for="(row, rindex) in board">
                    <tr :key="'tr-' + rindex">
                        <template v-for="(cell, cindex) in row" >
                            <td  :key="'td-' + rindex + '-' + cindex">
                            <template v-if="cell.content">
                                [ cell.content ]
                            </template>
                            <template v-else>
                                <button @click="btnClicken(cell.qId)">

                                </button>
                                [ cell.answer ]
                            </template>
                            </td>
                        </template>
                    </tr>
                </template>
            </tbody>
        </table>

        <form action="" method="post">
            <label for="playername">Dein Name</label>
            <input type="text" v-model="playername" name="playername" id="playername">
        </form>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/js/player.js"></script>
{% endblock %}
