{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
    <div class="card" style="text-align:center; height: 80px;position:absolute;right: 20%;left:20%;top:10px">
        <div class="card-body">
            <h1>
                Neopardy
            </h1>
        </div>
    </div>
    <div style="position:absolute; right: 2%; top:2%">
        <button onclick="window.location.href='/game/new'" class="btn btn-dark">
            New Game
        </button>
    </div>

    <div class="card" style="width: 18rem;position: absolute; top: 20%">
        <div class="card-body">
            <h5 class="card-title">Jeopardy</h5>
            <p class="card-text">
                Das Prinzip der Webapp "Neopardy" ist inspiriert von der US-Amerikanischen Quizshow "Jeopardy".
                Bei Jeopardy geht es darum, zu einer gegebenen Antwort eine passende Frage zu stellen.
                So wäre beispielsweise bei der gegebenen Antwort "Donald Trump", die Frage "Wer ist momentan Präsident
                der vereinigten Staaten und hat ganz ganz dolle einen Waffel?"
            </p>
            <a href="https://de.wikipedia.org/wiki/Jeopardy!" class="btn btn-primary">Wikipedia</a>
        </div>
    </div>

{% endblock %}
