{% extends 'base.html.twig' %}

{% block title %}Hello GamemasterController!{% endblock %}

{% block body %}

    {# <table style="position: absolute; top: 0px;bottom:0px;left:0px;right:0px" class="table bordered">
        <tr style="height: 50%">
            <td style="width:80%; height:100%">
                <h1 style="text-align: center; font-size: 100px">This is an answer!</h1>
            </td>
            <td style="background-color: green; width:20%;">
                <a href="./" style="color: black; font-size:100px; text-align:center"><p>J</p></h1>
            </td>
        </tr>
        <tr style="height: 100%">
            <td>
                <h1 style="text-align: center; font-size:100px">Is this a possible question?</h1>
            </td>
            <td style="background-color: red;">
                <a href="./" style="height: 100%;position:relative; bottom:-20%;font-size: 100px; text-align: center; color: black">
                <p>N</p>
                </a>
            </td>
        </tr>
    </table>
    #}
    <div style="position: absolute; top: 0px; bottom: 50.5%; right:20%; left: 0px;">
        <h1 style="text-align: center; font-size: 100px;">This is the answer!</h1>
    </div>
    <a href="" style="color: black; text-align: center;">
        <div style="background-color: green; position: absolute; top: 0px; left:80%; right: 0px; bottom: 50.5%;">
            <p style="text-align: center; color: black;"><h1 style="font-size: 1500%">J</h1></p>
        </div>
    </a>

    <div style="position: absolute; top:49.5%; bottom:49.5%; right: 0px; left: 0px; background-color:black; color:black;">.</div>

    <div style="position:absolute; top: 50.5%; right: 20%; left: 0px">
        <h1 style="text-align: center; font-size:75px;">Is this a possible question?</h1>
    </div>
    <a href="" style="color:black; text-align: center;">
        <div style="position:absolute; right:0px; left:80%; bottom: 0px; top: 50.5%; background-color: red;">
            <p style="text-align: center; color: black;"><h1 style="font-size: 1500%">N</h1></p>
        </div>
    </a>

{% endblock %}
